body{ 
  font-family: "HelveticaNeueW01-65Medi", Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin:0px 0px;
  padding:0px 0px;
  overflow-y: scroll; 
  overflow-x:hidden;
  width:100vw;
  color:#6d6e70;
  position: relative;
}

.container-fluid{
  padding-left:0px;
  padding-right:0px;
}

.img-fluid{
  width:100%;
  padding-left:0px;
  padding-right:0px;
}
/* Extra Small */
@media (max-width:576px) {
  html {
    font-size: 12px;
  }
  .card {
    min-height: 75px;
    width: 100%;
  }
  .imgtext {
    position:absolute; 
    top:80%; 
    left:10%; 
    color:white;
  }
  .map{
    width:90vw;
  }
  #features {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
    top:3%;
    right:17%;
    width:70%;
    height:30%;
  }
  #legend {
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
    line-height: 18px;
    height: 20%;
    margin-bottom: 40px;
    width: 33%;
    right:17%;
  }

  #navbar-1 {
    visibility: hidden;
  }

  #navbar-2 {
    visibility: visible;
  }
  #header-2 {
    visibility: hidden;
    height:0px;
  }
  #content {
    position:absolute; 
    top:55%;
  }
  #cards {
    margin-left: 10%;
    margin-right: 10%;
  }
  #indivcard {
    margin-bottom: 10%;
  }
  #heroImg {
    margin-top: 5%;
  }
  #caseStudy {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
    bottom:30%;
    right:17%;
    width:70%;
    height:30%;
  }
}
/* Small */
@media (min-width:576px) {
  html {
    font-size: 12px;
  }
  .card {
    min-height: 150px;
    width: 20rem;
  }
  .imgtext {
    position:absolute; 
    top:80%; 
    left:40%; 
    color:white;
  }
  #features {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
    top:3%;
    right:17%;
    width:50%;
    height:30%;
  }
  #legend {
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
    line-height: 18px;
    height: 15%;
    margin-bottom: 40px;
    width: 20%;
    right:17%;
  }
  #navbar-1 {
    visibility: visible;
  }
  #navbar-2 {
    visibility: hidden;
  }

  #header-2 {
    visibility: visible;
  }
  #content {
    position:absolute; 
    top:70%;
  }
  #caseStudy {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
    bottom:30%;
    right:17%;
    width:50%;
    height:30%;
  }
  
}

/* Medium */
@media (min-width:768px) {
  html {
    font-size: 16px;
  }
  .card {
    min-height: 150px;
    width: 20rem;
  }
  .imgtext {
    position:absolute; 
    top:80%; 
    left:40%; 
    color:white;
  }

  #legend {
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
    line-height: 18px;
    height: 15%;
    margin-bottom: 40px;
    width: 10%;
    right:17%;
  }

  #features {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
    top:10%;
    width:50%;
    height:30%;
  }
  #navbar-1 {
    visibility: visible;
  }
  #navbar-2 {
    visibility: hidden;
  }
  #header-2 {
    visibility: visible;
  }
  #content {
    position:absolute; 
    top:70%;
  }
  #caseStudy {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
    bottom:25%;
    right:17%;
    width:50%;
    height:30%;
  }
}
/* Large */
@media (min-width:992px) {
  html {
    font-size: 18px;
  }
  .card {
    min-height: 150px;
    width: 20rem;
  }
  .imgtext {
    position:absolute; 
    top:87%; 
    left:40%; 
    color:white;
  }
  #features {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
    top:3%;
    right:17%;
    width:20%;
    height:40%;
  }
  #legend {
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
    line-height: 18px;
    height: 15%;
    margin-bottom: 40px;
    width: 10%;
    right:17%;
  }
  #navbar-1 {
    visibility: visible;
  }
  #navbar-2 {
    visibility: hidden;
  }
  #header-2 {
    visibility: visible;
  }
  #content {
    position:absolute; 
    top:70%;
  }
  #caseStudy {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
    top:3%;
    left:25%;
    width:20%;
    height:30%;
  }
}

/* Ex large */
@media (min-width:1200px) {
  html {
    font-size: 20px;
  }
  .card {
    min-height: 150px;
    width: 20rem;
    margin:0 auto;
    float:none;
  }

  .imgtext {
    position:absolute; 
    top:80%; 
    left:47%; 
    color:white;
  }
  
  #features {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
    top:3%;
    right:17%;
    width:20%;
    height:40%;
  }
  #legend {
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
    line-height: 18px;
    height: 15%;
    margin-bottom: 40px;
    width: 10%;
    right:17%;
  }
  #navbar-1 {
    visibility: visible;
  }
  #navbar-2 {
    visibility: hidden;
  }
  #header-2 {
    visibility: visible;
  }
  #content {
    position:absolute; 
    top:75%;
  }
  #caseStudy {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
    top:3%;
    left:25%;
    width:20%;
    height:30%;
  }
}
.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}

.affix{
  top:20px;
}

.fixed{
  top:0;
  position:fixed;
}
.menu{
  color:#fff;
  position:absolute;
  top:200px;
}

#map{
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
}

.affix {
  top:20%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  color:white;
}

.nav-item{
  color:white;
  }

.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
  background-color:rgba(100, 93, 155, 1.0);
}

/*.active{
  background-color:rgba(100, 93, 155, 1.0);
  color:white;
}*/

.inactive{
   background-color: rgba(109,110,113, 0.30);
}

nav, ul, li {
  background-color: rgba(109,110,113, 0.30);
}

.single{
  color:white;
}

.nav-link{
  color:white;
}

.nav-link:hover{
  color:white;
  
}
.chart {
  fill: none;
}

#button-contact:hover{
  text-decoration:none;
}

.row{
  margin-right:0;
  margin-left:0;
}

.card-header{
  height:35%;
}

