body{ 
  font-family: "HelveticaNeueW01-65Medi", Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin:0px 0px;
  padding:0px 0px;
  overflow-y: scroll; 
  overflow-x:hidden;
  width:100vw;
  color:#6d6e70;
  position: relative;
}

.container-fluid{
  padding-left:0px;
  padding-right:0px;
}

.img-fluid{
  width:100%;
  padding-left:0px;
  padding-right:0px;
}
/* Extra Small */
@media (max-width:576px) {
  html {
    font-size: 22px;
  }
  .card {
    min-height: 75px;
    width: 100%;
  }
  .imgtext {
    font-size: 0.75rem;
    text-align: center;
    position:absolute; 
    top:65%; 
    left:10%; 
    color:white;
  }
  .map{
    width:90vw;
  }
  #features {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
    top:3%;
    right:17%;
    width:70%;
    height:40%;
  }
  #legend {
    font-size: 0.5rem;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
    line-height: 18px;
    height: 20%;
    margin-bottom: 20px;
    width: 40%;
    right:17%;
  }

  #navbar-1 {
    visibility: hidden;
  }

  #navbar-2 {
    visibility: visible;
  }
  #header-2 {
    visibility: hidden;
    height:0px;
  }
  #content {
    position:absolute; 
    top:48%;
  }
  #cards {
    margin-left: 10%;
    margin-right: 10%;
  }
  #indivcard {
    margin-bottom: 10%;
  }
  #heroImg {
    margin-top: 15%;
  }
  #caseStudy {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
    bottom:25%;
    right:17%;
    width:70%;
    height:30%;
  }
  #button1 {
    padding: 12%;
    top: 70%;
    font-size: 50%;
  }
  
}
/* Small */
@media (min-width:576px) {
  html {
    font-size: 22px;
  }
  .card {
    min-height: 75px;
    width: 100%;
  }
  /*#cards {
    margin-left: 10%;
    margin-right: 10%;
  }*/
  #indivcard {
    margin-bottom: 10%;
  }
  .imgtext {
    font-size: 1rem;
    text-align: center;
    position:absolute; 
    top:70%; 
    left:40%; 
    color:white;
  }
  #features {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
    top:3%;
    right:17%;
    width:50%;
    height:40%;
  }
  #legend {
    font-size: 0.5rem;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
    line-height: 18px;
    height: 17%;
    margin-bottom: 20px;
    width: 30%;
    right:17%;
  }
  #navbar-1 {
    visibility: visible;
  }
  #navbar-2 {
    visibility: hidden;
  }

  #header-2 {
    visibility: visible;
  }
  #content {
    position:absolute; 
    top:80%;
  }
  #caseStudy {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
    bottom:25%;
    right:17%;
    width:50%;
    height:30%;
  }
  .nav {
    font-size: 10px;
  }
  .button1 {
    top: 70%;
    font-size: 50%;
    padding: 12%;
  }
  
}

/* Medium */
@media (min-width:768px) {
  html {
    font-size: 26px;
  }
  .card {
    min-height: 150px;
    width: 20rem;
  }
  .imgtext {
    position:absolute; 
    top:80%; 
    left:40%; 
    color:white;
  }

  #legend {
    font-size: 0.5rem;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
    line-height: 18px;
    height: 17%;
    margin-bottom: 20px;
    width: 30%;
    right:17%;
  }

  #features {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
    top:2%;
    width:50%;
    height:40%;
  }
  #navbar-1 {
    visibility: visible;
  }
  #navbar-2 {
    visibility: hidden;
  }
  #header-2 {
    visibility: visible;
  }
  #content {
    position:absolute; 
    top:80%;
  }
  #caseStudy {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
    bottom:23%;
    right:17%;
    width:50%;
    height:30%;
  }
  .nav {
    font-size: 14px;
  }
  .button1 {
    top: 70%;
    font-size: 50%;
    padding: 12%;
  }
}
/* Large */
@media (min-width:992px) {
  html {
    font-size: 26px;
  }
  .card {
    min-height: 150px;
    width: 20rem;
  }
  .imgtext {
    position:absolute; 
    top:87%; 
    left:40%; 
    color:white;
  }
  #features {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
    top:3%;
    right:17%;
    width:25%;
    height:40%;
  }
  #legend {
    font-size: 0.5rem;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
    line-height: 18px;
    height: 17%;
    margin-bottom: 40px;
    width: 10%;
    right:17%;
  }
  #navbar-1 {
    visibility: visible;
  }
  #navbar-2 {
    visibility: hidden;
  }
  #header-2 {
    visibility: visible;
  }
  #content {
    position:absolute; 
    top:80%;
  }
  #caseStudy {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
    top:3%;
    left:25%;
    width:25%;
    height:80%;
  }
  .nav {
    font-size: 18px;
  }
  .button1 {
    top: 70%;
    font-size: 50%;
    padding: 12%;
  }
}

/* Ex large */
@media (min-width:1200px) {
  html {
    font-size: 26px;
  }
  .card {
    min-height: 150px;
    width: 20rem;
    margin:0 auto;
    float:none;
  }

  .imgtext {
    position:absolute; 
    top:80%; 
    left:47%; 
    color:white;
  }
  
  #features {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
    top:3%;
    right:17%;
    width:23%;
    height:60%;
  }
  #legend {
    font-size: 0.5rem;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
    line-height: 18px;
    height: 17%;
    margin-bottom: 40px;
    width: 10%;
    right:17%;
  }
  #navbar-1 {
    visibility: visible;
  }
  #navbar-2 {
    visibility: hidden;
  }
  #header-2 {
    visibility: visible;
  }
  #content {
    position:absolute; 
    top:80%;
  }
  #caseStudy {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
    top:3%;
    left:25%;
    width:20%;
    height:80%;
  }
  .nav {
    font-size: 20px;
  }
  .button1 {
    top: 70%;
    font-size: 50%;
    padding: 12%;
  }
}
.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}

.affix{
  top:20px;
}

.fixed{
  top:0;
  position:fixed;
}
.menu{
  color:#fff;
  position:absolute;
  top:200px;
}

#map{
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
}

.affix {
  top:20%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  color:white;
}

.nav-item{
  color:white;
  }

.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
  background-color:rgba(100, 93, 155, 1.0);
}

/*.active{
  background-color:rgba(100, 93, 155, 1.0);
  color:white;
}*/

.inactive{
   background-color: rgba(109,110,113, 0.30);
}

nav, ul, li {
  background-color: rgba(109,110,113, 0.30);
}

.single{
  color:white;
}

.nav-link{
  color:white;
}

.nav-link:hover{
  color:white;
  
}
.chart {
  fill: none;
}

#button-contact:hover{
  text-decoration:none;
}

.row{
  margin-right:0;
  margin-left:0;
}

.card-header{
  height:35%;
}
#bullets{
  font-size: 0.6rem;
  background-color: #645D9B;
  text-align: left;
  color: white;
  padding: 1%;
}

.label {
  color: black;
  fill: black;
  font-size: 0.4rem;
}
form {
  font-size: 0.65rem;
}

.form-control {
  font-size: 0.65rem;
}
#vis {
  font-size: 0.65rem;
}
.info {
  padding-top: 1%;
  padding-left: 1%;
}
.info2 {
  padding-left: 1%;
  padding-bottom: 2%;
}
.btn-primary, .btn-primary:hover, .btn-primary:active {
  background-color: #499996;
  border: #499996;
  box-shadow: #499996;
}